{% extends 'layouts/index.html' %}

{% load static %}

{% block content %}

    <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sách</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-view-top">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product-search">
                                                <input type="email" value="Search">
                                                <button><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-short">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" data-toggle="dropdown">Sắp xếp theo</div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="/body/moinhat" class="dropdown-item">Mới nhất</a>
                                                        <a href="/body/banchaynhat" class="dropdown-item">Bán chạy nhất</a>
                                                        <a href="#" class="dropdown-item">Sách giảm giá</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-price-range">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" data-toggle="dropdown">Giá thành</div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item">Dưới 50.000 đ</a>
                                                        <a href="#" class="dropdown-item">50.000 - 150.000 đ</a>
                                                        <a href="#" class="dropdown-item">150.000 - 300.000 đ</a>
                                                        <a href="#" class="dropdown-item">Trên 300.000 đ</a>                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% for itemS in list_book_danhmuc %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="/body/book_detail/{{itemS.id_sach}}">{{ itemS.Ten_sach }}</a>    
                                    </div>
                                    <div class="product-image">
                                        <a>
                                            <img src="{% static 'media/' %}{{itemS.img_sach}}" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="javascript:void(0)" onclick = "ThemVaoGioHang({{itemS.id_sach}})"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        {% if itemS.gia_tien_sale != -1 %}
                                            <h2><del>{{itemS.gia_tien_goc}}</del><span>Đ</span></h2>
                                            <h3>{{itemS.gia_tien_sale}}<span>Đ</span></h3>
                                            <a class="btn" href="javascript:void(0)" onclick = "ThemVaoGioHang({{itemS.id_sach}})"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                        {% else %} 
                                            <h3>{{itemS.gia_tien_goc}}<span>Đ</span></h3>
                                            <a class="btn" href="javascript:void(0)" onclick = "ThemVaoGioHang({{itemS.id_sach}})"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        
                        <!-- Pagination Start -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Trang trước</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Tiếp theo</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Start -->
                    </div>           
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Danh mục sản phẩm</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for itemDM in list_danh_muc %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/body/book_danhmuc/{{itemDM.id_danhmuc}}">{{itemDM.Ten_danhmuc}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">

                                {% for itemS in list_book %}
                                {% if itemS.status == 0 %}
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">{{ itemS.Ten_sach }}</a>    
                                    </div>
                                    <div class="product-image">
                                        <a>
                                            <img src="{% static 'media/' %}{{itemS.img_sach}}" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="javascript:void(0)" onclick = "ThemVaoGioHang({{itemS.id_sach}})"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        {% if itemS.gia_tien_sale != -1 %}
                                            <h2><del>{{itemS.gia_tien_goc}}</del><span>Đ</span></h2>
                                            <h3>{{itemS.gia_tien_sale}}<span>Đ</span></h3>
                                            <a class="btn" href="javascript:void(0)" onclick = "ThemVaoGioHang({{itemS.id_sach}})"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                        {% else %} 
                                            <h3>{{itemS.gia_tien_goc}}<span>Đ</span></h3>
                                            <a class="btn" href="javascript:void(0)" onclick = "ThemVaoGioHang({{itemS.id_sach}})"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        
                        <div class="sidebar-widget brands">
                            <h2 class="title">Nhà Xuất Bản</h2>
                            <ul>
                                {% for itemNXB in list_NXB %}
                                <li><a href="/body/book_NXB/{{itemNXB.id_NXB}}">{{itemNXB.Ten_NXB}} </a><span>()</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="sidebar-widget brands">
                            <h2 class="title">Nhà phát hành</h2>
                            <ul>
                                {% for itemNPH in list_NPH %}
                                <li><a href="/body/book_NPH/{{itemNPH.id_NPH}}">{{itemNPH.Ten_NPH}} </a><span>()</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="sidebar-widget tag">
                            <h2 class="title">Tags </h2>
                            <a href="#">Văn học</a>
                            <a href="#">Tiểu thuyết </a>
                            <a href="#">Truyện ngắn </a>
                            <a href="#">Tản văn </a>
                            <a href="#">Manga</a>
                            <a href="#">Comic</a>
                            <a href="#">Tâm lý</a>
                            <a href="#">Khoa học</a>
                            <a href="#">Trinh thám</a>
                            <a href="#">Công việc</a>
                            <a href="#">Cuộc sống</a>
                            <a href="#">Ký sự</a>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->  
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static 'img/brand-1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-2_2.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-3_3.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-4_4.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-5_5.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/brand-6_6.png' %}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->

{% endblock %}