{% extends 'layouts/index.html' %}

{% load static %}

{% block content %}

    <!-- Checkout Start -->
        <div class="checkout">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout-inner">
                            <div class="billing-address">
                                <h2>Địa chỉ thanh toán</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Họ và tên đệm</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tên</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Di động</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-12">
                                        <label>Địa chỉ</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tỉnh / Thành phố</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Phường / Xã</label>
                                        <input class="form-control" type="text" >
                                    </div>

                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="newaccount">
                                            <label class="custom-control-label" for="newaccount">Tạo tài khoản</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="shipto">
                                            <label class="custom-control-label" for="shipto">Ship đến địa chỉ khác</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="shipping-address">
                                <h2>Địa chỉ giao hàng</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Họ và tên đệm</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tên</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Di động</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-12">
                                        <label>Địa chỉ</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tỉnh / Thành phố</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                    <div class="col-md-6">
                                        <label>Phường / Xã</label>
                                        <input class="form-control" type="text" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <div class="checkout-summary">
                                <h1>Tổng giá tiền</h1>
                                <span>xxx Đ</span>
                            </div>

                            <div class="checkout-payment">
                                <div class="payment-methods">
                                    <h1>Phương thức thanh toán</h1>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                            <label class="custom-control-label" for="payment-1">Ví momo</label>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                            <label class="custom-control-label" for="payment-2">Zalopay</label>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                            <label class="custom-control-label" for="payment-3">Chuyển khoản ngân hàng</label>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                            <label class="custom-control-label" for="payment-4">Thanh toán khi nhận hàng</label>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="checkout-btn">
                                    <button>Đặt hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->

{% endblock %}