    {% load static %}
    <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        minhhien1017@gmail.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        083 2240 225
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="body/trangchu" class="navbar-brand">Trang chủ</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/" class="nav-item nav-link active">Trang chủ</a>
                            <a href="/body/book_list" class="nav-item nav-link">Sách</a>
                            <!-- <a href="product-detail.html" class="nav-item nav-link">Product Detail</a> -->
                            <a href="/body/giohang" class="nav-item nav-link">Giỏ hàng</a>
                            <a href="/body/thanhtoan" class="nav-item nav-link">Thanh toán</a>
                            <a href="/body/my_account" class="nav-item nav-link">My Account</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Thêm</a>
                                <div class="dropdown-menu">
                                    <a href="/body/yeuthich" class="dropdown-item">Danh sách yêu thích</a>
                                    <a href="/body/login" class="dropdown-item">Đăng ký / Đăng nhập</a>
                                    <a href="/body/lienhe" class="dropdown-item">Liên hệ</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Nguyen Minh Hien
                                    <img src="{% static 'img/review2.jpg' %}" class = "avata_user" alt="Logo">     
                                </a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Hồ sơ cá nhân </a>
                                    <a href="#" class="dropdown-item">Đóng góp ý kiến </a>
                                    <a href="#" class="dropdown-item">Cài đặt tài khoản </a>
                                    <a href="#" class="dropdown-item">Đăng xuất </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="/">
                                <img src="{% static 'img/logo1.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(5)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->