    {% load static %}
    <!-- Review Start -->
        <div class="review">
            <div class="container-fluid">
                <div class="row align-items-center review-slider normal-slider">
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="{% static 'img/review1.jpg' %}" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Nguyễn Minh Hiển 1</h2>
                                <h3>Sinh Viên</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Web đẹp, thân thiện, dễ dùng
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="{% static 'img/review2.jpg' %}" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Nguyễn Minh Hiển 2</h2>
                                <h3>Giáo viên</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Nhiều sách tham khảo, giá thành hợp lý
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="{% static 'img/review3.jpg' %}" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Nguyễn Minh Hiển 3</h2>
                                <h3>Nhân viên IT</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Không có sách chỉ cách fix bug, 1 sao
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review End -->